<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./styles/style.css" />
    <style>
      .icons a i{
        transition: all 0.3s ease-in-out;
        
      }
      .icons a:hover i{

        transform: scale(1.5);
      }
    </style>
    
    <title>Home Page</title>
</head>
<body class="overflow-hidden flex justify-center items-center" >
    <!-- Start Popup DIV -->
    <div class="popup h-80 w-96 z-10 absolute bg-white rounded-2xl p-8 shadow-custom-box-shadow font-sans hidden">
        <header class="flex items-center justify-between pb-4 border-b-2">
          <span class="text-2xl font-semibold">Share Modal</span>
          <div class="close text-xs h-5 w-5 bg-custom-grey-200 rounded-full flex items-center justify-center cursor-pointer "><i class="fa-solid fa-xmark"></i></div>
        </header>
        <div class="content mt-5 mb-5">
          <p class="text-[16px]">Share this link via</p>
          <ul class="icons mb-5 mt-4 flex items-center justify-between">
            <a class="whatsapp sharebtnstyle text-whatsapp-color-600 border-whatsapp-color-400 hover:bg-whatsapp-color-600"><i class="fab fa-whatsapp"></i></a>
            <a class="telegram sharebtnstyle text-telegram-color-600 border-telegram-color-400 hover:bg-telegram-color-600"><i class="fab fa-telegram-plane"></i></a>
            <a class="twitter sharebtnstyle text-twitter-color-600 border-twitter-color-400 hover:bg-twitter-color-600"><i class="fab fa-twitter"></i></a>
            <a class="linkedin sharebtnstyle text-linkedin-color-600 border-linkedin-color-400 hover:bg-linkedin-color-600"><i class="fab fa-linkedin"></i></a>
            <a class="facebook sharebtnstyle text-facebook-color-600 border-facebook-color-400 hover:bg-facebook-color-600"><i class="fab fa-facebook-f"></i></a>
          </ul>
          <p class="text-[16px]">Or copy link</p>
          <div class="field mt-4 flex items-center justify-between h-9 rounded-sm border-2 border-custom-grey-200 pl-1">
            <i class="url-icon fa-solid fa-link text-center"></i>
            <input class="copy-val text-[12px] h-full w-full pl-2 outline-none" type="text" value="text HEllo" readonly>
            <button class="copy-button border-2 border-transparent bg-custom-brown-500 text-white text-[16px] font-semibold h-7 w-24 rounded-md cursor-pointer" >Copy</button>
          </div>
        </div>
      </div>
    <!-- End Popup DIV  -->
    <div class="w-full h-full ">
    <header class="py-4 bg-custom-grey-200 ">
        <nav class=" pl-16 pr-16">
            <div class="container flex justify-between items-center">
                <svg width="119" height="38" viewBox="0 0 119 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.08 37.28C4.4 37.28 3.82667 37.1667 3.36 36.94C2.89333 36.7133 2.54 36.3733 2.3 35.92C2.07333 35.4533 1.96 34.8733 1.96 34.18V28.36H0.52V27C1.10667 26.92 1.57333 26.7467 1.92 26.48C2.26667 26.2133 2.52667 25.8333 2.7 25.34C2.87333 24.8467 3 24.2267 3.08 23.48L4.8 23.24L5.12 23.42V26.74H7.96V28.36H5.12V33.66C5.12 34.1533 5.20667 34.5333 5.38 34.8C5.55333 35.0667 5.86667 35.2 6.32 35.2C6.6 35.2 6.88 35.1533 7.16 35.06C7.44 34.9533 7.71333 34.8133 7.98 34.64L8.6 35.74C8.18667 36.1933 7.68667 36.5667 7.1 36.86C6.52667 37.14 5.85333 37.28 5.08 37.28ZM14.4556 37.28C13.349 37.28 12.4023 37.0667 11.6156 36.64C10.8423 36.2133 10.2556 35.6133 9.85563 34.84C9.45563 34.0533 9.25563 33.14 9.25563 32.1C9.25563 30.9133 9.48896 29.9 9.95563 29.06C10.4223 28.22 11.069 27.58 11.8956 27.14C12.7223 26.6867 13.669 26.46 14.7356 26.46C15.6156 26.46 16.3756 26.6133 17.0156 26.92C17.669 27.2133 18.169 27.6533 18.5156 28.24C18.8756 28.8133 19.0556 29.5067 19.0556 30.32C19.0556 30.6133 19.0356 30.9267 18.9956 31.26C18.969 31.58 18.9156 31.8933 18.8356 32.2H12.5556C12.5956 32.8 12.7223 33.3133 12.9356 33.74C13.1623 34.1667 13.4756 34.4867 13.8756 34.7C14.2756 34.9133 14.7423 35.02 15.2756 35.02C15.8756 35.02 16.4156 34.9267 16.8956 34.74C17.389 34.54 17.8623 34.2667 18.3156 33.92L19.1956 34.94C18.689 35.6333 18.029 36.2 17.2156 36.64C16.4023 37.0667 15.4823 37.28 14.4556 37.28ZM12.5556 30.74H15.9556C15.9823 30.58 15.9956 30.42 15.9956 30.26C16.009 30.1 16.0156 29.9333 16.0156 29.76C16.0156 29.1467 15.889 28.6867 15.6356 28.38C15.3956 28.06 15.0356 27.9 14.5556 27.9C14.1423 27.9 13.789 28.0133 13.4956 28.24C13.2156 28.4667 12.9956 28.7933 12.8356 29.22C12.689 29.6333 12.5956 30.14 12.5556 30.74ZM23.6047 37.28C22.6447 37.28 21.8914 37.0333 21.3447 36.54C20.8114 36.0467 20.5447 35.3867 20.5447 34.56C20.5447 33.7733 20.7447 33.1533 21.1447 32.7C21.558 32.2467 22.1847 31.92 23.0247 31.72C23.878 31.5067 24.9847 31.3667 26.3447 31.3V29.86C26.3447 29.3667 26.2914 28.96 26.1847 28.64C26.078 28.32 25.898 28.0867 25.6447 27.94C25.4047 27.78 25.0714 27.7 24.6447 27.7C24.338 27.7 24.0247 27.7467 23.7047 27.84C23.398 27.9333 23.1514 28.0533 22.9647 28.2C23.1114 28.4133 23.2247 28.6 23.3047 28.76C23.398 28.92 23.4647 29.06 23.5047 29.18C23.5447 29.2867 23.5647 29.3867 23.5647 29.48C23.5647 29.7733 23.4314 30.02 23.1647 30.22C22.9114 30.42 22.5514 30.52 22.0847 30.52C21.618 30.52 21.2714 30.4133 21.0447 30.2C20.818 29.9733 20.7047 29.6733 20.7047 29.3C20.7047 28.78 20.8914 28.3067 21.2647 27.88C21.6514 27.4533 22.178 27.1133 22.8447 26.86C23.5247 26.6067 24.3047 26.48 25.1847 26.48C26.1714 26.48 26.9847 26.6133 27.6247 26.88C28.2647 27.1467 28.738 27.5667 29.0447 28.14C29.3647 28.7 29.5247 29.42 29.5247 30.3V34.56C29.5247 34.8667 29.5847 35.0933 29.7047 35.24C29.8247 35.3867 30.018 35.46 30.2847 35.46C30.418 35.46 30.5514 35.4467 30.6847 35.42C30.818 35.3933 30.9514 35.36 31.0847 35.32L31.3247 36.36C31.058 36.6133 30.7047 36.8267 30.2647 37C29.8247 37.1867 29.378 37.28 28.9247 37.28C28.2714 37.28 27.758 37.1267 27.3847 36.82C27.0114 36.5133 26.7714 36.1067 26.6647 35.6C26.478 35.92 26.2447 36.2067 25.9647 36.46C25.698 36.7133 25.3647 36.9133 24.9647 37.06C24.578 37.2067 24.1247 37.28 23.6047 37.28ZM24.8647 35.6C25.158 35.6 25.4114 35.5333 25.6247 35.4C25.8514 35.2667 26.0247 35.0867 26.1447 34.86C26.278 34.62 26.3447 34.3467 26.3447 34.04V32.54C25.7447 32.54 25.2447 32.6 24.8447 32.72C24.4447 32.8267 24.1514 33.0067 23.9647 33.26C23.778 33.5 23.6847 33.82 23.6847 34.22C23.6847 34.6467 23.7847 34.9867 23.9847 35.24C24.1847 35.48 24.478 35.6 24.8647 35.6ZM31.9533 37V35.72L32.7533 35.56C32.9666 35.5333 33.1066 35.46 33.1733 35.34C33.2399 35.2067 33.2733 34.9667 33.2733 34.62V29.52C33.2733 29.08 33.2333 28.7867 33.1533 28.64C33.0733 28.48 32.8866 28.38 32.5933 28.34L31.7933 28.22L31.9333 26.84L35.7533 26.6L36.0533 26.78L36.1733 28.6H36.2333C36.4599 28.16 36.7399 27.78 37.0733 27.46C37.4066 27.14 37.7866 26.8933 38.2133 26.72C38.6533 26.5467 39.1199 26.46 39.6133 26.46C40.4399 26.46 41.0999 26.6467 41.5933 27.02C42.0999 27.38 42.4533 27.8867 42.6533 28.54C42.9599 27.9 43.4066 27.3933 43.9933 27.02C44.5799 26.6467 45.2466 26.46 45.9933 26.46C46.7266 26.46 47.3266 26.6067 47.7933 26.9C48.2733 27.1933 48.6266 27.6 48.8533 28.12C49.0799 28.6267 49.1933 29.2267 49.1933 29.92V34.78C49.1933 35.06 49.2333 35.26 49.3133 35.38C49.3933 35.4867 49.5599 35.56 49.8133 35.6L50.5533 35.72V37H45.0333V35.74L45.4733 35.64C45.7133 35.6 45.8599 35.52 45.9133 35.4C45.9799 35.28 46.0133 35.0733 46.0133 34.78V30.56C46.0133 30.04 45.9666 29.6333 45.8733 29.34C45.7933 29.0467 45.6533 28.84 45.4533 28.72C45.2666 28.5867 45.0133 28.52 44.6933 28.52C44.3599 28.52 44.0466 28.6067 43.7533 28.78C43.4733 28.94 43.2466 29.1867 43.0733 29.52C42.9133 29.84 42.8333 30.2533 42.8333 30.76V34.72C42.8333 35 42.8533 35.2133 42.8933 35.36C42.9466 35.4933 43.0866 35.58 43.3133 35.62L43.8533 35.74V37H38.6533V35.74L39.0933 35.64C39.3333 35.6 39.4866 35.52 39.5533 35.4C39.6199 35.28 39.6533 35.0733 39.6533 34.78V30.56C39.6533 30.0267 39.6066 29.6133 39.5133 29.32C39.4199 29.0267 39.2733 28.82 39.0733 28.7C38.8866 28.58 38.6399 28.52 38.3333 28.52C37.9866 28.52 37.6666 28.6067 37.3733 28.78C37.0933 28.94 36.8666 29.1867 36.6933 29.52C36.5333 29.8533 36.4533 30.2667 36.4533 30.76V34.72C36.4533 35.0133 36.4799 35.2267 36.5333 35.36C36.5866 35.4933 36.7199 35.58 36.9333 35.62L37.4733 35.74V37H31.9533Z" fill="black"/>
                    <path d="M58.5391 37.08L56.5591 37.04V24.86C56.5591 24.4467 56.5257 24.16 56.4591 24C56.3924 23.8267 56.1791 23.7133 55.8191 23.66L55.2191 23.56L55.3391 21.88L60.2191 21.64L60.5391 21.86V27.98L60.6191 28C60.8324 27.68 61.0924 27.4067 61.3991 27.18C61.7191 26.94 62.0724 26.7533 62.4591 26.62C62.8591 26.4733 63.2857 26.4 63.7391 26.4C64.5924 26.4 65.3257 26.5933 65.9391 26.98C66.5657 27.3533 67.0457 27.9067 67.3791 28.64C67.7257 29.3733 67.8991 30.2933 67.8991 31.4C67.8991 32.6 67.7057 33.64 67.3191 34.52C66.9324 35.4 66.3591 36.08 65.5991 36.56C64.8524 37.04 63.9057 37.28 62.7591 37.28C62.1191 37.28 61.5457 37.1867 61.0391 37C60.5457 36.8267 60.0991 36.58 59.6991 36.26L58.5391 37.08ZM62.0191 35.2C62.4324 35.2 62.7591 35.0933 62.9991 34.88C63.2524 34.6533 63.4391 34.2867 63.5591 33.78C63.6791 33.26 63.7391 32.5867 63.7391 31.76C63.7391 31 63.6724 30.3867 63.5391 29.92C63.4191 29.4533 63.2391 29.12 62.9991 28.92C62.7591 28.7067 62.4591 28.6 62.0991 28.6C61.7524 28.6 61.4591 28.68 61.2191 28.84C60.9924 29 60.8191 29.2333 60.6991 29.54C60.5924 29.8467 60.5391 30.2267 60.5391 30.68V34.68C60.7257 34.8267 60.9391 34.9533 61.1791 35.06C61.4324 35.1533 61.7124 35.2 62.0191 35.2ZM74.8356 37.28C73.6223 37.28 72.589 37.0867 71.7356 36.7C70.8956 36.3 70.249 35.7067 69.7956 34.92C69.3556 34.1333 69.1356 33.1667 69.1356 32.02C69.1356 30.7133 69.389 29.6533 69.8956 28.84C70.4156 28.0133 71.1356 27.4 72.0556 27C72.9756 26.6 74.0423 26.4 75.2556 26.4C76.3623 26.4 77.329 26.58 78.1556 26.94C78.9956 27.3 79.6556 27.8667 80.1356 28.64C80.6156 29.4 80.8556 30.4 80.8556 31.64C80.8556 32.8533 80.6156 33.88 80.1356 34.72C79.669 35.56 78.989 36.2 78.0956 36.64C77.2023 37.0667 76.1156 37.28 74.8356 37.28ZM75.0956 35.38C75.509 35.38 75.829 35.2667 76.0556 35.04C76.2823 34.8 76.4423 34.4333 76.5356 33.94C76.629 33.4333 76.6756 32.7867 76.6756 32C76.6756 31.2667 76.6356 30.66 76.5556 30.18C76.489 29.7 76.3756 29.3267 76.2156 29.06C76.069 28.78 75.889 28.5867 75.6756 28.48C75.4623 28.36 75.2223 28.3 74.9556 28.3C74.609 28.3 74.309 28.3933 74.0556 28.58C73.8156 28.7533 73.629 29.06 73.4956 29.5C73.3623 29.94 73.2956 30.56 73.2956 31.36C73.2956 32.3067 73.3556 33.08 73.4756 33.68C73.5956 34.2667 73.789 34.7 74.0556 34.98C74.3223 35.2467 74.669 35.38 75.0956 35.38ZM85.2248 37.28C84.2115 37.28 83.4248 37.0333 82.8648 36.54C82.3182 36.0467 82.0448 35.38 82.0448 34.54C82.0448 33.7133 82.2515 33.08 82.6648 32.64C83.0915 32.1867 83.7315 31.86 84.5848 31.66C85.4515 31.46 86.5448 31.3333 87.8648 31.28V29.86C87.8648 29.3933 87.8248 29.0133 87.7448 28.72C87.6648 28.4133 87.5182 28.1867 87.3048 28.04C87.1048 27.8933 86.8115 27.82 86.4248 27.82C86.1582 27.82 85.8848 27.86 85.6048 27.94C85.3248 28.0067 85.0848 28.1067 84.8848 28.24C85.0448 28.4533 85.1648 28.6467 85.2448 28.82C85.3382 28.9933 85.3982 29.14 85.4248 29.26C85.4648 29.38 85.4848 29.4867 85.4848 29.58C85.4848 29.9 85.3382 30.1667 85.0448 30.38C84.7648 30.5933 84.3382 30.7 83.7648 30.7C83.2582 30.7 82.8782 30.58 82.6248 30.34C82.3715 30.1 82.2448 29.78 82.2448 29.38C82.2448 28.8333 82.4448 28.3333 82.8448 27.88C83.2448 27.4267 83.8048 27.0733 84.5248 26.82C85.2582 26.5533 86.1315 26.42 87.1448 26.42C88.2115 26.42 89.0915 26.56 89.7848 26.84C90.4782 27.12 90.9915 27.5533 91.3248 28.14C91.6715 28.7133 91.8448 29.4533 91.8448 30.36V34.28C91.8448 34.5867 91.8915 34.8133 91.9848 34.96C92.0782 35.1067 92.2515 35.18 92.5048 35.18C92.6382 35.18 92.7648 35.1667 92.8848 35.14C93.0048 35.1133 93.1182 35.08 93.2248 35.04L93.5048 36.3C93.2115 36.5533 92.8182 36.78 92.3248 36.98C91.8315 37.18 91.3115 37.28 90.7648 37.28C90.0582 37.28 89.4982 37.1267 89.0848 36.82C88.6715 36.5133 88.4048 36.1267 88.2848 35.66C88.1515 35.9267 87.9515 36.1867 87.6848 36.44C87.4182 36.68 87.0848 36.88 86.6848 37.04C86.2848 37.2 85.7982 37.28 85.2248 37.28ZM86.7848 35.36C87.0115 35.36 87.2048 35.3133 87.3648 35.22C87.5248 35.1267 87.6448 34.9933 87.7248 34.82C87.8182 34.6333 87.8648 34.4133 87.8648 34.16V32.68C87.4115 32.68 87.0382 32.7333 86.7448 32.84C86.4515 32.9333 86.2382 33.0867 86.1048 33.3C85.9715 33.5133 85.9048 33.7933 85.9048 34.14C85.9048 34.5133 85.9715 34.8133 86.1048 35.04C86.2382 35.2533 86.4648 35.36 86.7848 35.36ZM93.9036 37V35.46L94.6036 35.32C94.8169 35.2933 94.9503 35.2133 95.0036 35.08C95.0703 34.9333 95.1036 34.6867 95.1036 34.34V29.8C95.1036 29.3733 95.0703 29.0733 95.0036 28.9C94.9503 28.7267 94.7703 28.62 94.4636 28.58L93.7436 28.48L93.9036 26.8L98.2636 26.54L98.6036 26.72L98.7636 28.6H98.8236C99.1169 27.9467 99.5503 27.42 100.124 27.02C100.697 26.6067 101.344 26.4 102.064 26.4C102.85 26.4 103.47 26.62 103.924 27.06C104.377 27.4867 104.604 28.0533 104.604 28.76C104.604 29.24 104.524 29.6533 104.364 30C104.217 30.3333 103.997 30.5867 103.704 30.76C103.41 30.9333 103.05 31.02 102.624 31.02C102.064 31.02 101.65 30.9067 101.384 30.68C101.13 30.44 101.004 30.1667 101.004 29.86C101.004 29.74 101.01 29.6267 101.024 29.52C101.05 29.4133 101.09 29.2867 101.144 29.14C101.21 28.98 101.297 28.7867 101.404 28.56C101.137 28.4667 100.864 28.46 100.584 28.54C100.304 28.62 100.05 28.7667 99.8236 28.98C99.5969 29.1933 99.4169 29.4733 99.2836 29.82C99.1503 30.1533 99.0836 30.5467 99.0836 31V34.38C99.0836 34.7133 99.1169 34.9467 99.1836 35.08C99.2636 35.2133 99.4303 35.2933 99.6836 35.32L100.964 35.46V37H93.9036ZM109.532 37.28C108.572 37.28 107.765 37.08 107.112 36.68C106.458 36.2667 105.965 35.68 105.632 34.92C105.298 34.1467 105.132 33.2267 105.132 32.16C105.132 30.9867 105.332 29.9733 105.732 29.12C106.132 28.2533 106.718 27.5867 107.492 27.12C108.265 26.64 109.185 26.4 110.252 26.4C110.745 26.4 111.172 26.4533 111.532 26.56C111.892 26.6533 112.218 26.78 112.512 26.94V24.6C112.512 24.24 112.465 23.9867 112.372 23.84C112.278 23.6933 112.058 23.5933 111.712 23.54L110.992 23.42L111.132 21.8L116.172 21.66L116.472 21.98V34.44C116.472 34.7467 116.505 34.9533 116.572 35.06C116.652 35.1667 116.832 35.2467 117.112 35.3L117.752 35.42V37.02L113.072 37.16L112.832 35.52H112.752C112.578 35.8267 112.352 36.1133 112.072 36.38C111.805 36.6467 111.465 36.86 111.052 37.02C110.638 37.1933 110.132 37.28 109.532 37.28ZM110.932 35.1C111.265 35.1 111.545 35.0267 111.772 34.88C112.012 34.72 112.192 34.48 112.312 34.16C112.445 33.84 112.512 33.4467 112.512 32.98V28.98C112.272 28.8333 112.025 28.72 111.772 28.64C111.532 28.5467 111.265 28.5 110.972 28.5C110.585 28.5 110.265 28.62 110.012 28.86C109.758 29.0867 109.572 29.4533 109.452 29.96C109.345 30.4533 109.292 31.0933 109.292 31.88C109.292 32.6267 109.352 33.24 109.472 33.72C109.592 34.2 109.772 34.5533 110.012 34.78C110.265 34.9933 110.572 35.1 110.932 35.1Z" fill="#982943"/>
                    <path d="M90.3552 18.7345H91.5824C93.3676 18.5204 96.0453 17.4498 107.983 5.67387V8.45728L103.074 13.0606L103.855 13.81L109.099 8.8855V4.60333L109.88 3.7469C110.326 3.31868 110.326 2.67635 109.88 2.24814L109.769 2.14108L110.215 1.71287L108.43 0L107.983 0.428217L107.872 0.321162C107.649 0.107054 107.314 0 107.091 0C106.756 0 106.533 0.107054 106.31 0.321162L103.186 3.31868C97.942 8.45728 91.3593 14.7735 90.5783 16.8075C90.4667 17.2357 90.3552 17.5569 90.3552 17.9851V18.7345ZM107.091 1.07054L109.099 2.99752C105.306 6.74441 102.405 9.52782 100.173 11.5618L98.2767 9.74193C100.173 7.81495 106.198 1.92697 107.091 1.07054ZM91.5824 17.2357C92.0287 16.1652 94.4833 13.4888 97.4957 10.4913L99.3924 12.3112C94.2602 16.9146 92.5866 17.5569 91.5824 17.6639H91.4709C91.4709 17.4498 91.5824 17.3428 91.5824 17.2357ZM112 22.9096C109.88 23.766 107.537 24.0872 105.194 23.9801C101.401 23.9801 99.8387 23.0166 99.1693 22.4814C98.8346 22.2673 98.8346 21.732 99.1693 21.5179C99.2809 21.4108 99.504 21.3038 99.7272 21.3038C103.409 21.3038 104.748 20.5544 104.748 19.805C104.748 19.2697 103.409 18.7345 101.847 18.7345C100.062 18.8415 98.3883 19.4839 97.161 20.7685C95.7106 22.1602 93.8139 23.0166 91.8056 23.0166C91.0246 23.0166 90.2436 23.0166 89.4626 22.8025C88.57 22.5884 87.9006 21.732 88.0122 20.7685C88.0122 19.805 88.9047 19.1627 89.351 18.9486L90.132 19.698L90.0204 19.805C89.351 20.2332 89.0163 20.5544 89.0163 20.7685C89.0163 21.1967 89.2395 21.6249 89.7973 21.732C90.3552 21.9461 91.0246 21.9461 91.694 21.9461C93.4792 21.839 95.1527 21.1967 96.38 19.9121C97.8304 18.5204 99.7272 17.6639 101.735 17.6639C103.521 17.6639 105.752 18.1992 105.752 19.805C105.752 20.6615 105.083 22.0532 100.954 22.3743C102.293 22.8025 103.744 23.0166 105.194 23.0166C107.426 23.1237 109.545 22.8025 111.665 22.0532L112 22.9096Z" fill="#982943"/>
                </svg>
              <div class="flex space-x-16 ">
                <div class="navbtn">Home</div>
                <div class="navbtn">About</div>
                <div class="navbtn">Profile</div>
                <div class="cursor-pointer flex justify-center items-center border border-solid border-black h-8 w-28 rounded-3xl hover:bg-custom-brown-400 hover:text-white text-custom-brown-500 hover:scale-110 transform transition-transform duration-300">SignIn</div>
              </div>
              
            </div>
          </nav>
    </header>
    <div class="parent-div h-screen flex items-center"> 
        <div class="parent-div w-1/2 pl-20">
            <div class="">
                <div class="font-sans text-5xl font-semibold"> Real Time Collaboration <br>for Everyone</div>
                <div class="mt-6 mb-6 font-sans text-gray-700 text-lg"> Click the <b>'Generate Link'</b> button below to create a shareable link. <br>Share this link with your friends to join our realtime whiteboard session <br> and unleash your creativity together!</div>
                <span class="flex space-x-5 border-b-2 border-white pb-20">
                    <button class="h-10 w-44 bg-custom-brown-500 text-white font-semibold rounded-lg hover:scale-105 transform transition-transform duration-300 hover:shadow-lg" id="generate_link">Generate Link</button>
                    <div class="flex items-center pl-2 border border-solid border-custom-brown-500 h-10 w-56  bg-white rounded-lg space-x-3" >
                        <i class="w-1/3 text-custom-brown-500 focus:!ring-offset-0 fa-regular fa-keyboard "></i>
                        <input type="text" class="meeting-join-text outline-none" placeholder="Enter the link here" >
                    </div>
                    <button class="meeting-join-button text-gray-400 text-1xl  hover:text-custom-brown-500 hover:scale-125 transform transition-transform duration-300 hover:font-semibold">Join</button>
                </span>

            </div>
        </div>
        <div class="parent-div w-1/2"> 
            <div>
               
              <!-- <img src='/Icons/Meeting.jpg' alt="Meeting" class="h-20 w-20  bg-slate-600"> -->
            </div>
        </div>
    </div>
  </div>
    <!-- .YpQfNc {
        font-family: "Google Sans Display",Roboto,Arial,sans-serif;
        line-height: 3.25rem;
        font-size: 2.75rem;
        letter-spacing: 0;
        font-weight: 400;
        padding-bottom: 0.5em;
    } -->
    <script>
      
         async function generateLinkAndCode() {
            
            
            
            const res = await fetch('/home/getId',{
                method:'GET',
            })
            const data=await res.json();
            
            // fetch
            return data['id'];
           
        }
        let popup= document.querySelector(".popup");
        let copyVal= document.querySelector(".copy-val");

        let whatsapp= document.querySelector(".whatsapp");
        let facebook= document.querySelector(".facebook");
        let twitter= document.querySelector(".twitter");
        let linkedin = document.querySelector(".linkedin");
        let telegram= document.querySelector(".telegram");

        const message= encodeURI(`is inviting you to join a team-board session with him. Click the link to join the room `);

        const baseUrl = '<%=roomURL %>';
        const user='<%=user %>';


        document.getElementById("generate_link").addEventListener("click",async()=>{
           const id= await generateLinkAndCode();
           const generatedLink=`${baseUrl}/id/room/${id}`;
           copyVal.value= generatedLink;
           const pageUrl=encodeURIComponent(generatedLink);

            const whatsappApi = `https://wa.me/?text=${encodeURIComponent(user)} ${message}. ${pageUrl}`;
            const facebookApi = `https://www.facebook.com/share.php?u=${pageUrl}`;
            const twitterApi = `http://twitter.com/share?&url=${pageUrl}&text=${encodeURIComponent(user)} ${message}&hashtags=`;
            const linkedinApi= `https://www.linkedin.com/sharing/share-offsite/?url=${pageUrl}`
            const telegramApi = `https://t.me/share/url?url=${pageUrl}&text=${encodeURIComponent(user)} ${message}`;

           popup.classList.remove("hidden");

           whatsapp.addEventListener("click",(e)=>{
              window.open(url = whatsappApi, target='blank');

          });
          facebook.addEventListener("click",(e)=>{
              window.open(url = facebookApi, target='blank');
              
          });
          twitter.addEventListener("click",(e)=>{
              window.open(url = twitterApi, target='blank');
          });
          linkedin.addEventListener("click",(e)=>{
              window.open(url = linkedinApi, target='blank');
          });

          telegram.addEventListener("click",(e)=>{
              window.open(url = telegramApi, target='blank');
              
          });

          let copyButton = document.querySelector(".copy-button");

            copyVal.addEventListener("focus",(e)=>{
                copyVal.select();
            });
            copyButton.addEventListener("click",(e)=>{
                const text=copyVal.value;
                copyVal.select();
                navigator.clipboard.writeText(text);

                copyButton.innerHTML='Copied';
                setTimeout(()=>copyButton.innerHTML='Copy',1000);
                // return true;

            });
            
            console.log(id);
        });

        
       document.querySelector(".close").addEventListener("click", ()=>{
          popup.classList.add("hidden");
       });
      
       document.querySelector('.meeting-join-button').addEventListener("click",()=>{
        let meetingJoinText=document.querySelector(".meeting-join-text");
        if(meetingJoinText.value.includes(baseUrl)){
          window.open(url = meetingJoinText.value)

        }else{
          meetingJoinText.value="";
          meetingJoinText.value="Incorrect URL";
          
          
        }
       })

    </script>
</body>
</html>